<label class="setting-label" for="mapSize">Map Size</label>
<text-input
  id="mapSize"
  type="number"
  change="setModelProperty"
  min="0"
  textAlign="left"
>
</text-input>

<label class="setting-label" for="pointSize">Point Size</label>
<text-input
  id="pointSize"
  type="number"
  change="setModelProperty"
  min="0"
  textAlign="left"
>
</text-input>

<label class="setting-label" for="skipPoints">Skip Points</label>
<text-input
  id="skipPoints"
  type="number"
  change="setModelProperty"
  min="0"
  textAlign="left"
>
</text-input>

<label class="setting-label" for="backgroundColor">Background Color</label>
<color-input
  id="backgroundColor"
  name="backgroundColor"
  value="#FFFFFF"
  change="setModelProperty"
>
</color-input>

<label class="setting-label" for="pointColor">Point Color</label>
<color-input
  id="pointColor"
  name="pointColor"
  value="#FFFFFF"
  change="setModelProperty"
>
</color-input>

<label class="setting-label" for="toggleElevation">Elevation Displacement</label>
<toggle-button
  id="toggleElevation"
  onLabel="On"
  offLabel="Off"
  click="setModelProperty"
>
</toggle-button>

<label class="setting-label" for="elevationMin">Elevation Min (ft)</label>
<text-input
  id="elevationMin"
  type="number"
  change="setModelProperty"
  min="0"
  textAlign="left"
>
</text-input>

<label class="setting-label" for="elevationMin">Elevation Max (ft)</label>
<text-input
  id="elevationMax"
  type="number"
  change="setModelProperty"
  min="0"
  textAlign="left"
>
</text-input>

<label class="setting-label" for="elevationColorToggle">Elevation Color</label>
<toggle-button
  id="elevationColorToggle"
  onLabel="On"
  offLabel="Off"
  click="setModelProperty"
>
</toggle-button>

<label class="setting-label" for="centerX">Center X</label>
<text-input
  id="centerX"
  type="number"
  change="setModelProperty"
  min="0"
  textAlign="left"
>
</text-input>

<label class="setting-label" for="centerY">Center Y</label>
<text-input
  id="centerY"
  type="number"
  change="setModelProperty"
  min="0"
  textAlign="left"
>
</text-input>

<label class="setting-label" for="animationSpeed">Animation Speed</label>
<text-input
  id="animationSpeed"
  type="number"
  change="setModelProperty"
  min="0"
  textAlign="left"
>
</text-input>

<label class="setting-label" for="glowExposure">Glow Exposure</label>
<text-input
  id="glowExposure"
  type="number"
  change="setModelProperty"
  min="0"
  textAlign="left"
>
</text-input>

<label class="setting-label" for="glowThreshold">Glow Threshold</label>
<text-input
  id="glowThreshold"
  type="number"
  change="setModelProperty"
  min="0"
  textAlign="left"
>
</text-input>

<label class="setting-label" for="glowStrength">Glow Strength</label>
<text-input
  id="glowStrength"
  type="number"
  change="setModelProperty"
  min="0"
  textAlign="left"
>
</text-input>

<label class="setting-label" for="glowRadius">Glow Radius</label>
<text-input
  id="glowRadius"
  type="number"
  change="setModelProperty"
  min="0"
  textAlign="left"
>
</text-input>
