
:host {
  background-color: var(--color-grey-darker);
  border-left: 1px solid var(--color-grey-dark);
  border-bottom: 1px solid var(--color-grey-light);
  border-radius: 0 0 0 4px;
  padding: 12px;
  display: block;
}

.title {
  font-weight: bold;
  font-size: 16px;
}

.selector {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  outline: unset;
  border: 1px solid var(--color-grey-light);
  border-radius: 4px;
  background-color: var(--color-grey-darker);
  color: var(--color-grey-light);
  font-weight: bold;
}
