<router-outlet route="/">
  <p class="text-block">
    <a href="/#/editor">Editor</a>
  </p>
  <br />
  <p class="text-block">
    <a href="/#/renderer-2d">Renderer 2D</a>
  </p>
  <br />
  <p class="text-block">
    <a href="/#/renderer-3d">Renderer 3D</a>
  </p>
</router-outlet>

<router-outlet route="/editor">
  <activity-editor></activity-editor>
</router-outlet>

<router-outlet route="/renderer-2d">
  <activity-renderer-2d><activity-renderer-2d>
</router-outlet>

<router-outlet route="/renderer-3d">
  <activity-renderer-3d><activity-renderer-3d>
</router-outlet>
