<label class="setting-label" for="canvasSize">Canvas Width (px)</label>
<text-input
  id="canvasSize"
  type="number"
  value="1000"
  change="setModelProperty"
  min="10"
  textAlign="left"
>
</text-input>

<label class="setting-label" for="canvasColor">Canvas Color</label>
<color-input
  id="canvasColor"
  name="fill"
  value="#FFFFFF"
  change="setModelProperty"
>
</color-input>

<label class="setting-label" for="fillColor">Fill Color</label>
<color-input
  id="fillColor"
  name="fill"
  value="#0000FF"
  change="setModelProperty"
>
</color-input>

<label class="setting-label" for="fillAlpha">Fill Alpha</label>
<text-input
  id="fillAlpha"
  type="number"
  value="1"
  change="setModelProperty"
  min="0"
  max="1"
  textAlign="left"
>
</text-input>

<label class="setting-label" for="strokeColor">Stroke Color</label>
<color-input
  id="strokeColor"
  name="strokeColor"
  value="#FF00FF"
  change="setModelProperty"
>
</color-input>

<label class="setting-label" for="strokeAlpha">Stroke Alpha</label>
<text-input
  id="strokeAlpha"
  type="number"
  value="1"
  change="setModelProperty"
  min="0"
  max="1"
  textAlign="left"
>
</text-input>

<label class="setting-label" for="strokeWidth">Stroke Width</label>
<text-input
  id="strokeWidth"
  type="number"
  value="2"
  change="setModelProperty"
  min="0"
  textAlign="left"
>
</text-input>

<label class="setting-label" for="shadowColor">Shadow Color</label>
<color-input
  id="shadowColor"
  name="shadow"
  value="#00FF00"
  change="setModelProperty"
>
</color-input>

<label class="setting-label" for="shadowAlpha">Shadow Alpha</label>
<text-input
  id="shadowAlpha"
  type="number"
  value="1"
  change="setModelProperty"
  min="0"
  max="1"
  textAlign="left"
>
</text-input>

<label class="setting-label" for="shadowSpread">Shadow Spread</label>
<text-input
  id="shadowSpread"
  type="number"
  value="2"
  change="setModelProperty"
  min="0"
  textAlign="left"
>
</text-input>

<label class="setting-label" for="jitter">Jitter</label>
<text-input
  id="jitter"
  type="number"
  value="0"
  change="setModelProperty"
  min="0"
  textAlign="left"
>
</text-input>

<label class="setting-label" for="skipPoints">Skip Every</label>
<text-input
  id="skipPoints"
  type="number"
  value="0"
  change="setModelProperty"
  min="0"
  textAlign="left"
>
</text-input>

<label class="setting-label" for="renderPoint">Render Point</label>
<toggle-button
  id="renderPoint"
  click="setModelProperty"
  onlabel="On"
  offlabel="Off">
</toggle-button>

<label class="setting-label" for="renderLine">Render Line</label>
<toggle-button
  id="renderLine"
  click="setModelProperty"
  onlabel="On"
  offlabel="Off">
</toggle-button>

<label class="setting-label" for="radius">Point Radius</label>
<text-input
  id="radius"
  type="number"
  value="0"
  change="setModelProperty"
  min="0"
  textAlign="left"
>
</text-input>
