:host {
  display: block;
  background-color: var(--color-grey-darker);
  color: var(--color-grey-light);
  font-size: 16px;
  padding: 4px;
}

.settings-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 8px 0;
}

.setting-label {
  margin-right: 8px;
}
